<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The best place to find the best Restaurant">
  <meta name="theme-color" content="#2c3e50" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Aressa Restaurant</title>
</head>

<body>
  <a href="#mainContent" tabindex="1" class="skip-link">Skip to Content</a>
  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">Aressa D'Resto</h1>
      <nav id="drawer" class="nav">
        <div class="nav__list">
          <a class="nav__item" href="#/home" tabindex="2">Home</a>
          <a class="nav__item" href="#/favorite" tabindex="3">Favorite</a>
          <a class="nav__item" href="https://github.com/aamaulana10" tabindex="3">About Us</a>
          <a href="#" class="booking-button">Booking Now</a>
        </div>
      </nav>
      <a id="menu" href="#" class="header__menu">☰</a>
    </div>
  </header>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Healthy food to live a healthier life in the future</h1>
      <p class="hero__tagline">
        Enjoy a healthy life by eating healthy foods that have extraordinary flavors that make your life healthier for
        today and in the future
      </p>
      <a href="#" class="get-started-button">Get Started</a>
    </div>
    <div class="hero__image">
      <img src="/images/heros/hero-image.jpg" alt="Healthy salad bowl">
    </div>
  </div>
  <main id="mainContent">
  </main>
  <footer>
    <div class="footer__content">
      <p>Copyright © 2024 - Aressa Restaurant Apps</p>
    </div>
  </footer>
</body>

</html>